/* RecipeForm.css */

.form-modal-title {
  color: #000;
  font-weight: 600;
  max-width: 100%;
}

.modal-header {
  padding-bottom: 5px; /* Adjust the padding to control spacing */
  padding-top: 10px;
}

.modal-body {
  padding-top: 0px; /* Adjust the padding as needed */
}

.form-title {
  color: #000;
  font-weight: 600;
  max-width: 100%;
  margin-top: 12px;
  margin-bottom: 4px;
}

.submit-button {
  margin-top: 20px; /* Add more space between Minutes to Cook and the button */
}

/* Close button styles */
.custom-close-button-form {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transform-origin: center center; /* Set the transform origin to the center of the icon */
}

.custom-close-button-form:hover {
  color: #333; /* Darken the color on hover */
  /* Add the rotation and cancel vertical translation */
  transform: rotate(90deg) translateY(0);
}

.hover-overlay-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Adjust the size of the circle */
  height: 40px; /* Adjust the size of the circle */
  background-color: rgba(0, 0, 0, 0.1); /* Dark overlay color */
  border-radius: 50%; /* Create a circular shape */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s; /* Add a smooth opacity transition */
}